<%-include("partials/Header.ejs") %>
<div class="introductionPage">
    <h1 class="introductionText">Welcome to your personal blog, feel free to Post or View the blog</h1>
    <div class="PostAndView">
        <button class="post1" onclick="location.href='/post'">Post</button>
        <button class="view1" onclick="location.href='/view'">View</button>
    </div>
</div>

<%-include("partials/footer.ejs") %>