<%-include("partials/Header.ejs") %>
<div class="Post">
    <h1>Please write the title and the content of your blog below</h1>
    <form class="inputSection" action="/view" method="post" id="blogForm">
        <label for="title">Title:</label>
        <input name="title" type="text" class="feedback-input" placeholder="title" />
        <label for="Content">Content:</label>
        <textarea name="content" class="feedback-input TextInput" placeholder="content"></textarea>
        <input class="post1 postBttn" type="submit" value="post" />
    </form>
</div>
<% if (locals.messageContent && locals.messageContent.length > 0) { %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script> 
        alert("<%= locals.messageContent %>");
        axios.post('/endpoint')
            .then(response => {
                console.log('Success:');
            })
            .catch(error => {
                console.error('Error:', error);
            });    
    </script>
<% } %>
<%-include("partials/footer.ejs") %>
